@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  background-color: black;
}


.bg-img{
  background-image: url("./assets/bg-img.png");
  /* background-color: black; */
}

/* Hide default cursor */
body {
  cursor: none;
}

/* Custom cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  background: #00f5ff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;

  box-shadow:
    0 0 10px #00f5ff,
    0 0 20px #00f5ff,
    0 0 40px #00f5ff;

  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
